@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

body,
h1,
p,
button,
ul {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Center content vertically and horizontally */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* loading */
.main_div {
  width: 99vw;
  height: 90vh;
  display: grid;
  place-items: center;
}

.center_div {
  height: 10rem;
  width: 10rem;
  position: relative;
}

.rotate {
  height: 10rem;
  width: 10rem;
  border-right: 0.3rem solid black;
  border-radius: 50%;
  animation: load 2s linear infinite;
  position: absolute;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.center_div h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}